[submodule "dota-scraper"]
	path = dota-scraper
	url = https://github.com/JaredzG/dota-scraper.git

[submodule "dota-database"]
	path = dota-database
	url = https://github.com/JaredzG/dota-database.git
[submodule "dota-frontend"]
	path = dota-frontend
	url = https://github.com/JaredzG/dota-frontend.git
