[submodule "dota-frontend"]
	path = dota-frontend
	url = https://github.com/JaredzG/dota-frontend.git
[submodule "dota-backend"]
	path = dota-backend
	url = https://github.com/JaredzG/dota-backend.git